html {
  background: #000 linear-gradient(#000 0, #170728 100%);
  min-height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

input:focus,
textarea:focus {
  border-color: #ff0068;
  box-shadow: 0 1px 1px #ff0068 inset, 0 0 8px #ff0068;
  outline: 0 none;
}
